<div class="row mb-5">
    <div class="col-12 card shadow bg-light rounded p-2 border-1 border-secondary">
        <span class="fw-bold text-primary">Angular  <button class="btn btn-primary col-auto" (click)="openAngularGuide()">Angular Guide</button></span>
    </div>

    <div class="col-12 card shadow bg-light rounded p-2 border-1 border-secondary">
        <p>01)TypeScript is a free & open-source programming language developed by Microsoft.</p>
        <p>02)It is a superset of JavaScript.</p>
        <p>03)TypeScript have additional features that do not exist in current version of JavaScript supported by most
            Browser.</p>
        <p>04)TypeScript is a Strongly typed where JavaScript is a Dynamicaly/Looselly typed.</p>
    </div>
</div>