<div class="row mb-5">
    <div class="col-12 card shadow bg-light rounded p-2 border-1 border-secondary">
        <span class="fw-bold text-primary">Use of Selectors Types</span>
    </div>
    <div class="col-12 card shadow bg-light rounded p-2 border-1 border-secondary">
        <p>01)We can use a selector like as HTML tag.</p>
        <app-selector-as-tag></app-selector-as-tag>
        <p>02)We can use a selector like as HTML attribute.</p>
        <div app-selector-as-attribute></div>
        <p>03)We can use a selector like as CSS class.</p>
        <div class="app-selector-as-css"></div>
    </div>
</div>