<div class="row mb-5">
    <div class="col-12 card shadow bg-light rounded p-2 border-1 border-secondary">
        <span class="fw-bold text-primary">Two way data bindings</span>
    </div>
    <p>01) In Case of Two way data binding the data flow in two direction.</p>
    <p>02) Two way data binding binds the data from component class to view template & view template to component class.</p>
    <p>03)Two way data binding is a combination of property & event binding.</p>
    <div class="col-12 card shadow bg-light rounded p-2 border-1 border-secondary">
        <h3><span class="badge text-bg-secondary">Eg1.</span></h3>
        <div class="col-3 mt-3">
            <span><b>Type Here</b></span> => {{value}}
            <input class="form-control" type="text" [(ngModel)]="value">
        </div>
    </div>
</div>