<div class="row">
    <div class="col-12 rounded border border-secondary p-2 shadow-sm">
        <span class="fw-bold text-primary">Sibling to Sibling Communication or Unrelated Components(Service with RxJS/Subjects)</span>
    </div>
    <div class="col-12 rounded border mt-2 p-2 mt-2 shadow-sm">
        <p>Use Case: When two sibling components need to communicate.</p>
        <p> A shared service can be used to facilitate communication between sibling components. This service can use
            RxJS Subject or BehaviorSubject to pass data between components.</p>
    </div>

    <div class="col-12 rounded border mt-2 p-2 mt-2 shadow-sm">
        <h5><span class="badge text-bg-secondary">Eg. 1</span></h5>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" (click)="sendData()">Send Data to Parent</button>
        </div>
    </div>
</div>