<div class="row">
    <div class="col-12 rounded border border-secondary p-2 shadow-sm">
        <span class="fw-bold text-primary">Directives</span>
    </div>

    <div class="col-12 rounded border mt-2 p-2 mt-2 shadow-sm">
        <p>01) Directives are simply an instruction to the DOM.</p>
        <p>02) Directives are simply an TypeScript class.</p>
    </div>

    <div class="col-12 rounded border mt-2 p-2 mt-2 shadow-sm">
        <h3><span class="badge text-bg-primary">Types of Directives</span></h3>
        <h5><span class="badge text-bg-secondary">Component Directives</span></h5>
        <b>01 Component/Custom Directives</b>
        <b>02 Structral Directives</b>
        <b>03 Attribute Directives</b>
        <p>01) Component directives are based on component. Actually, each component can be used as directive. Component
            provides &#64;Input and &#64;Output decorator to send and receive information between parent and child
            components.</p>
        <p>1) &#64;Input.</p>
        <p>2) &#64;Output.</p>
        <h5><span class="badge text-bg-secondary">Structral Directives</span></h5>
        <p>01) Structural directives change the structure of DOM by adding or removing elements.</p>
        <p>1) *ngIf directive.</p>
        <p>2) *ngFor directive.</p>
        <p>3) *ngSwitch.</p>
        <h5><span class="badge text-bg-secondary">Attribute Directives</span></h5>
        <p>01) Attribute Directives are used like an attribute on an existing webpage element to change its look and
            behaviour.
        </p>
        <p>1) ngStyle.</p>
        <p>2) ngClass.</p>
        <p>3) ngClass.</p>
    </div>
</div>