<div class="row">
    <div class="col-12 rounded border border-secondary p-2 shadow-sm">
        <span class="fw-bold text-primary">HTTP (Hyper Text Tranfer Protocol)</span>
    </div>

    <div class="col-12 rounded border mt-2 p-2 mt-2 shadow-sm">
        <p>The newly designed HttpClient Module allows us to query the Remote API source to get data into our
            Application. It requires us to Subscribe to the returned response using RxJs observables.</p>
        <p>The HttpClient is a separate model in Angular and is available under the &#64;angular/common/http package.
            The following steps show you how to use the HttpClient in an Angular app.</p>
    </div>

    <div class="col-12 rounded border mt-2 p-2 mt-2 shadow-sm">
        <h5><span class="badge text-bg-secondary">What is Observable?</span></h5>

    </div>
</div>