<header class="header d-flex align-items-center justify-content-between px-2 py-2">
  <!-- Sidebar Toggle -->
  <div class="side-nav-button p-2 me-2" [class.active]="isSidebarToggleActive" title="Toggle Expand/Collapse"
    tabindex="0" (click)="sidebarToggle()">
    <i class="fa-solid fa-bars fa-xl"></i>
  </div>

  <!-- Title -->
  <span class="fw-bold flex-grow-1">Rv Corner Angular Study</span>

  <!-- Navigation -->
  <nav class="header-nav d-flex align-items-center">

    @if(fullName){
    <h3 class="mx-2">|</h3>
    <!-- User Info -->
    <span class="fw-bold text-warning"> {{ fullName }}, {{ role }} </span>
    <h3 class="mx-2">|</h3>
    }
    <!-- Divider -->
    <div class="vertical-line" role="separator" aria-hidden="true"></div>

    <!-- Settings -->
    <span class="header-icon me-3" title="Settings" tabindex="0" role="button">
      <em class="fa fa-cog"></em>
    </span>

    <!-- Notifications -->
    <span class="header-icon me-3" title="Notifications" tabindex="0" role="button">
      <em class="fa fa-bell"></em>
    </span>

    <!-- User Info -->
    <span class="header-icon me-3" title="User Information" tabindex="0" role="button">
      <em class="fa fa-user"></em>
    </span>

    <!-- User List -->
    <span class="header-icon me-3" title="User List" tabindex="0" role="button" (click)="userList()">
      <em class="fa fa-users"></em>
    </span>

    <!-- Log Out -->
    <span class="header-icon" title="Log Out" tabindex="0" role="button" (click)="logout()">
      <em class="fa fa-sign-out"></em>
    </span>
  </nav>

</header>