<div class="row">
    <div class="col-12 rounded border border-secondary p-2 shadow-sm">
        <span class="fw-bold text-primary">String Interpolation</span>
    </div>
    <div class="col-12 rounded border mt-2 p-2 mt-2 shadow-sm">
        <p>01) String Interpolation in Angular is used to bind the data from component class view template, That means data
            flows from component to view.</p>
    </div>

    <div class="col-12 rounded border mt-2 p-2 mt-2 shadow-sm">
        <h3><span class="badge text-bg-secondary">Eg1.</span></h3>
        <img src='{{interpolation}}' width="70%" height="150" />

        <h3><span class="badge text-bg-secondary">Eg2.</span></h3>
        <img src='{{interpolation}}' width="70%" height="150" />

        <h4>{{'Name = ' + firstName + middleName + lastName}}</h4>
        <h4>Evaluates = {{ 10 + 20 + 30 }}</h4>
        <h4>{{'Full Name = ' + getFullName()}}</h4>
        <h4>{{title}}</h4>
    </div>
</div>


