<div class="row">
    <div class="col-12 rounded border border-secondary p-2 shadow-sm">
        <span class="fw-bold text-primary">Custom Pipe</span>
    </div>
    <div class="col-12 rounded border mt-2 p-2 mt-2 shadow-sm">
        <p> Custom pipes are useful when you need a transformation that is not provided by Angular’s built-in pipes.</p>
    </div>

    <div class="col-12 rounded border mt-2 p-2 mt-2 shadow-sm">
        <h3><span class="badge text-bg-primary">Types of Custom Pipes</span></h3>

        <h5><span class="badge text-bg-secondary">Pure Pipe</span></h5>

        <h5><span class="badge text-bg-secondary">Impure Pipe</span></h5>

        <h5><span class="badge text-bg-secondary">Impure Pipe</span></h5>

        <h5><span class="badge text-bg-secondary">Chaining Pipes</span></h5>

        <h5><span class="badge text-bg-secondary">Eg. 1</span></h5>

        <div class="row">
            <h3>Fahrenheit to Celsius </h3>
        </div>
        <div class="row">
            <p> Fahrenheit : <input type="text" [(ngModel)]="Fahrenheit" />
                Celsius : {{Fahrenheit | tempConverter:'C'}} </p>
        </div>
        <div class="row">
            <h3>Celsius to Fahrenheit </h3>
        </div>
        <div class="row">
            <p> Celsius : <input type="text" [(ngModel)]="celcius" />
                Fahrenheit : {{celcius | tempConverter:'F'}} </p>
        </div>
    </div>
</div>