<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-6">
              <div class="card-body">
                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px" alt="logo" />
                  <h4 class="mt-1 pb-1">User Register for Rv Corner</h4>
                </div>
                <form id="registerForm" #registerForm="ngForm">
                  <div class="col-12 mt-2">
                    <label class="form-label" for="name">Name</label>
                    <input [(ngModel)]="name" type="name" id="name" name="name" class="form-control" placeholder="Name"
                      required appModelValidationDisplay modelName="Name" />
                  </div>
                  <div class="col-12 mt-2">
                    <label class="form-label" for="email">Username</label>
                    <input [(ngModel)]="id" type="userName" id="userName" name="userName" class="form-control"
                      placeholder="Username" required appModelValidationDisplay modelName="Username" />
                  </div>
                  <div class="col-12 mt-2">
                    <label class="form-label" for="email">Email</label>
                    <input [(ngModel)]="email" type="email" id="email" name="email" class="form-control"
                      placeholder="Email" required appModelValidationDisplay modelName="Email" />
                  </div>
                  <div class="col-12 mt-2">
                    <label class="form-label" for="password">Password</label>
                    <input [(ngModel)]="password" type="password" id="password" name="password" class="form-control"
                      placeholder="Password" required appModelValidationDisplay modelName="Password" />
                  </div>
                  <div class="col-12 mt-2">
                    <button class="btn btn-warning" type="button" (click)="userLogin()">
                      Back to Login
                    </button>
                    <button class="btn btn-success ms-3" type="button" (click)="userRegister(registerForm)"
                      [templateForm]="registerForm" appTemplateFormValidationDisplay>
                      Register
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-6 d-flex align-items-center gradient">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Rv Corner</h4>
                <p class="small mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
