footer {
    background-color: rgba(34, 34, 34, 1) !important;
    color: white !important;
    text-align: center !important;
    position: fixed;
    padding: 10px !important;
    width: 100%;
    bottom: 0px;
    height: 3rem;
    z-index: 2;
}