<div class="col-12">
    <div class="modal-header row mx-0">
        <div class="col-10">
            <span class="section-header">Add Edit Data</span>
        </div>
        <div class="col-2  text-end">
            <button type="button" class="btn btn-light" (click)="close(true)">
                <em class="fa fa-times"></em>
            </button>
        </div>
    </div>
    <div class="modal-body row">
        <div class="col-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" [(ngModel)]="name">
        </div>
        <div class="col-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" [(ngModel)]="email">
        </div>
        <div class="col-3">
            <label class="form-label">Phone</label>
            <input type="text" class="form-control" [(ngModel)]="phone">
        </div>
        <div class="col-3">
            <label class="form-label">User Name</label>
            <input type="text" class="form-control" [(ngModel)]="username">
        </div>
        <div class="col-3 mt-3">
            <label class="form-label">Website</label>
            <input type="text" class="form-control" [(ngModel)]="website">
        </div>
        <div class="col-3 mt-3">
            <label class="form-label">Company Name</label>
            <input type="text" class="form-control" [(ngModel)]="companyName">
        </div>
        <div class="col-3 mt-3">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" [(ngModel)]="address">
        </div>
        <div class="col-3 mt-3">
            <label class="form-label">City</label>
            <input type="text" class="form-control" [(ngModel)]="city">
        </div>
        <div class="col-3 mt-3">
            <label class="form-label">Zip Code</label>
            <input type="text" class="form-control" [(ngModel)]="zipCode">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close(true)">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="close(true)">Save</button>
        <button type="button" class="btn btn-danger" (click)="close(true)">Delete</button>
    </div>
</div>