<div class="col-12">
  <div class="modal-header row">
    <div class="col-10">
      <span class="section-header">Add Edit Data</span>
    </div>
    <div class="col-2  text-end">
      <button type="button" class="btn btn-light" (click)="close(true)">
        <em class="fa fa-times"></em>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <div class="col-3" [hidden]="true">
      <span class="form-label">Name</span>
      <input type="text" test-id="userList-txt-name" id="name" name="name" class="form-control" [(ngModel)]="name"
        [disabled]="true" />
    </div>
    <div class="col-3" [hidden]="true">
      <span class="form-label">Username</span>
      <input type="text" test-id="userList-txt-userName" id="userName" name="userName" class="form-control"
        [(ngModel)]="id" [disabled]="true" />
    </div>
    <div class="col-3" [hidden]="true">
      <span class="form-label">Email</span>
      <input type="text" test-id="userList-txt-email" id="email" name="email" class="form-control" [(ngModel)]="email"
        [disabled]="true" />
    </div>
    <div class="col-12">
      <label class="form-label">Role</label>
      <select class="form-select" style="width: auto" [(ngModel)]="role">
        @for( role of roleList; track role ){
        <option [ngValue]="role.code">{{role.name}}</option>
        }
      </select>
    </div>
    <div class="col-12 mt-3">
      <label class="form-label">Is Active</label>
      <input class="form-check-input ms-2" type="checkbox" [(ngModel)]="status">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close(true)">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="updateUser()">Update</button>
  </div>
</div>
