<div class="row mx-0">
    <div class="col-12">
        <span class="page-header">Toastr Notifications</span>
        <div class="col-12 mt-3">
            <button class="btn btn-success ms-3" (click)="success()">Success</button>
            <button class="btn btn-danger ms-3" (click)="error()">Error</button>
            <button class="btn btn-info ms-3" (click)="info()">Info</button>
            <button class="btn btn-warning ms-3" (click)="warning()">Warning</button>
        </div>
    </div>
</div>