<div class="row">
    <div class="col-12 rounded border border-secondary p-2 shadow-sm">
        <span class="fw-bold text-primary">Data Bindings</span>
    </div>
    <div class="col-12 rounded border mt-2 p-2 mt-2 shadow-sm">
        <p>01) Data Bindings in Angular allow us to communicate b/w a component class and & its corresponding view
            template.</p>
        <p>02) Data Bindings is powerfull feature in angular which allow us to bind the data </p>
    </div>

    <div class="col-12 rounded border mt-2 p-2 mt-2 shadow-sm">
        <h5><span class="badge text-bg-primary">Understanding JSX (JavaScript XML)</span></h5>
        <b>01 One way data bindings</b>
        <b>02 Tow way data bindings</b>
        <h5><span class="badge text-bg-secondary mt-3">01 One way data bindings</span></h5>
        <p>01) In Case of One way data binding the data flow in one direction.</p>
        <p>02) One way data binding, is when we can access component calss property
        <p>
        <p>03) One way data binding, is also when we can access a value from view template in corresponding component
            calss property.</p>
        <h6>Eg1. <img src='{{interpolation}}' width="70%" height="150" /></h6>
        <h6>Eg2. <img src='{{event}}' width="70%" height="150" /></h6>

        <h5><span class="badge text-bg-secondary">02 Tow way data bindings</span></h5>
        <p>01) In Case of Two way data binding the data flow in two direction.</p>
        <p>02) Two way data binding binds the data from component class to view template & view template to component
            class.</p>
        <p>03)Two way data binding is a combination of property & event binding.</p>
        <h4>Eg3. <img src='{{twoway}}' width="70%" height="150" /></h4>
    </div>
</div>