<div class="row">
    <div class="col-12 rounded border border-secondary p-2 shadow-sm">
        <span class="fw-bold text-primary">Property Binding</span>
    </div>
    <p>01) Property Binding is used to bind the Property of an HTML element to the property or method of a component class.
    </p>
    <div class="col-12 rounded border mt-2 p-2 mt-2 shadow-sm">
        <h3><span class="badge text-bg-secondary">Eg1.</span></h3>
        <img [src]='property' width="70%" height="150"/>

        <h3><span class="badge text-bg-secondary mt-3">Eg2.</span></h3>
        <button class="btn btn-secondary col-1" [disabled]="isDisabled">Click Me</button>
    </div>
</div>