<div class="row">
    <div class="col-12 rounded border border-secondary p-2 shadow-sm">
        <span class="fw-bold text-primary">Form</span>
    </div>
    <div class="col-12 rounded border mt-2 p-2 mt-2 shadow-sm">
        <p>
            Angular forms are structures that enable interaction between users and applications through input elements
            like text fields, checkboxes, radio buttons, drop-down lists, and more. Angular forms provide tools to
            handle:
        </p>
    </div>

    <div class="col-12 rounded border mt-2 p-2 mt-2 shadow-sm">
        <h3><span class="badge text-bg-primary">Types of Form</span></h3>

        <h5><span class="badge text-bg-secondary">Template Driven Form</span></h5>
        <p>Template-driven forms are simple and easy to use for basic forms. The form structure and logic are largely
            defined within the template using Angular directives like ngModel, ngForm, and ngSubmit.</p>
        <b>Key Characteristics</b>
        <p>->Simpler to set up for small, simple forms.</p>
        <p>->Validation and form controls are defined using template syntax.</p>
        <p>->Two-way data binding with [(ngModel)].</p>
        <p>->Ideal for quick form creation without much programmatic logic</p>

        <h5><span class="badge text-bg-secondary">Model Driven / Reactive Form</span></h5>
        <p>Reactive forms, also known as Model-Driven Forms, give you full control over form logic in the component
            class. You define the form model and validation entirely within the component, providing more flexibility
            and scalability for complex forms.
        </p>
        <b>Key Characteristics</b>
        <p>->The form model is defined programmatically in the component.</p>
        <p>->More powerful for complex forms with dynamic or conditional form fields.</p>
        <p>->Form state (validity, value) is controlled explicitly in the component.</p>
        <p>->Works well with reactive programming patterns using RxJS.</p>
    </div>
</div>