<div class="row mb-5">
    <div class="col-12 card shadow bg-light rounded p-2 border-1 border-secondary">
        <span class="fw-bold text-primary">Advanced Components</span>
    </div>

    <div class="col-12 card shadow bg-light rounded p-2 border-1 border-secondary">
        <h3><span class="badge text-bg-primary">Types Of Advanced Components</span></h3>

        <h3><span class="badge text-bg-secondary">Ng-Content</span></h3>
        <p>
            Content projection is a way to pass the HTML content from the parent component to the child component. The
            child component will display the template in a designated spot. We use the ng-content element to designate a
            spot in the template of the child component. The ng-content also allows us to create multiple slots using
            the selector attribute. The parent can send different content to each slot.
        </p>
        <p>
            The ng-content tag acts as a placeholder for inserting external or dynamic content. The Parent component
            passes the external content to the child component. When Angular parses the template, it inserts the
            external content where ng-content appears in the child component’s template
        </p>

        <p>
            We can use content projection to create a reusable component. The components that have similar logic &
            layout and can be used in many places in the application.
        </p>

    </div>
</div>