<div class="row">
    <div class="col-12 rounded border border-secondary p-2 shadow-sm mb-3">
        <div class="d-flex justify-content-between align-items-center">
            <span class="fw-bold text-primary">STUDENT DETAILS</span>
            <button type="button" class="btn btn-primary" (click)="addStudent()">+Add Student</button>
        </div>
    </div>
    <div class="col-12 rounded border p-2 shadow-sm">
        <!-- <div class="d-flex justify-content-between align-items-center mb-3">
            <input type="text" id="search" name="search" class="form-control w-25" placeholder="Search by name, email, mobile..." 
                 (keyup)="applyFilter($event.target.value)" />
        </div> -->
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-sm text-center nowrap-table">
                <thead class="table-light">
                    <tr>
                        <th style="text-align: center;">ID</th>
                        <th style="text-align: center;">Name</th>
                        <th style="text-align: center;">Age</th>
                        <th style="text-align: center;">DOB</th>
                        <th style="text-align: center;">Email</th>
                        <th style="text-align: center;">Mobile</th>
                        <th style="text-align: center;">Address</th>
                        <th style="text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for( student of studentData; track student; let i=$index ){
                    <tr>
                        <td>{{student.id}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.age}}</td>
                        <td>{{student.dob | date:'dd/MM/yyyy'}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.mobile}}</td>
                        <td>{{student.address}}</td>
                        <td>
                            <div class="d-flex gap-2 justify-content-center">
                                <button type="button" class="btn btn-sm btn-outline-primary"
                                    (click)="addEditStudent(student)">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-danger"
                                    (click)="deleteStudent(student)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <app-pagination [totalItems]="studentList.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50]"
                [currentPage]="currentPage" (pageChanged)="onPageChange($event)"
                (pageSizeChanged)="onPageSizeChange($event)">
            </app-pagination>
        </div>
    </div>