<div class="row mb-5">
    <div class="col-12 card shadow bg-light rounded p-2 border-1 border-secondary">
        <span class="fw-bold text-primary">State Management</span>
        <p>In Angular, state management is managing application state and data in a predictable and efficient manner.
            RxJS is a powerful library that can manage state in Angular applications.</p>
    </div>

    <div class="col-12 card shadow bg-light rounded p-2 border-1 border-secondary">
        <h3><span class="badge text-bg-primary">Manage State in Angular using RxJS?</span></h3>

    </div>
</div>